# dependencies
/node_modules
/.pnp
.pnp.js

# next
/.next/
/out/
next-env.d.ts

# production
/build

# local data (MockRepo persistence)
/.data/*.json

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo

# test
/coverage
.env*
supabase/.temp/
